- breadcrumb :contact
.col-md-8
  %script(type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=P-ZYOEnZIghSCY225Mvzmbtj4fcWXuhH&width=810&height=600&id=mymap")
  .row
    .col-md-12#mymap

    .col-md-12
      %h2
        = t(:we_are_here)
      .col-md-10
        %p г.Москва, наружная сторона МКАД 41км.(пересечение с Калужским шоссе). 
        %p Строительный рынок(ярмарка) «Мельница, Славянский мир» . Павильон Г10/6.
      .clearfix

      %h3 Режим работы:
      .col-md-10
        %p Без выxодных с 09:00 до 19:00
