- breadcrumb :delivery
.col-md-8
  %h2= t(:delivery)
  
  .col-md-10(style='margin-top: 60px')
    %ul
      %li
        %p Наличными в рублях при получении товара в магазине или курьеру по факту доставки. Заказные позиции могут потребовать предоплату(оговаривается с менеджером при подтверждении заказа).
      %li
        %p Банковским переводом на расчетный счет организации по предварительно выставленному счету.
      %li
        %p Время и сумма доставки в пределах Москвы и Московской области оговаривается с менеджером при подтверждении заказа.
      %li
        %p Доставка в регионы России осуществляется через транспортные компании.
