

.col-md-10
  .panel.panel-default.element-header-shadow
    .panel-heading.panel-color-font
      Добро пожаловать!
    .panel-body
      .col-md-12.center-block.segoe-font
        %p
          Мы рады приветствовать вас на сайте компании "Рустепель", и надеемся, что работа с нами доставит удовольствие. "Рустепель", работая на рынке поставок систем отопления, водоснабжения, внутренней канализации более 10 лет, сформировала для себя основные приоритеты деятельности на российском рынке – это поставка высококлассного оборудования ведущих производителей из Европы и Азии.
        %p
          Продвигая бренды ведущих фирм, за счет профессионализма и опыта наших специалистов, мы обеспечиваем высочайшее качество продаж и инженерной поддержки. Техническое обеспечение продаж во всех регионах России – непременное условие при сотрудничестве с "Рустепель". Развивая дилерские связи в России, "Рустепель" стремится к продвижения высочайших стандартов качества. 
        %p 
          Налаживая дилерские взаимоотношения, мы готовы передать наш опыт и знания, провести обучение специалистов на местах. Прекрасно отлаженная транспортная и складская логистика позволяет жестко контролировать всю цепочку движения, предлагать клиенту лучшие цены.

  .panel
    .panel-body.without-border
      %h3 Каталог 
  //= render partial: "category_table", locals: {element: @categories, form_flag: nil}
  = render partial: "category_iter", locals: {element: @categories, form_flag: nil}
            
            
          
       
