.col-md-10
  = render partial: "category_header",  locals: {element: @model}

  .col-md-12
    .row(ng-controller="CartController")
      
      .col-md-12.table-partial
        = render partial: "product_table", locals: {model: @model, subcategory: @model.subcategory}
