%nav.navbar.navbar-inverse.navbar-fixed-top(style='margin-bottom: 60px')
  .container
    .navbar-header
      = link_to t(:dashboard), converter_dashboard_url, class: 'navbar-brand'

    %ul.nav.navbar-nav
      %li
        = link_to t(:string_xls), converter_tasks_url
      %li
        = link_to t(:links), new_converter_link_url
