// Place all the styles related to the main_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
$main_color_old: #B5F0D4;
$main_color_old1: #5BB33F;
$main_color:  #B5B6F0; 

@font-face {
  font-family: "MainFont";
  src: asset-url('main/myfont.ttf') format("truetype");
  }

@font-face {
  font-family: "BoldFont";
  src: asset-url('main/mybold.ttf') format("truetype");
  }

@font-face {
        font-family: "Kaushan";
        src: asset-url('main/regular.otf') format("truetype");
    }

@font-face {
        font-family: "Segoe";
        src: asset-url('main/segoe.ttf') format("truetype");
    }

$violet: #3033C1;
$breadcrumb_old: #7DB79C;
$breadcrumb: $violet;
//$breadcrumb_hover: #B5B6F0;
$breadcrumb_hover:  $main_color;

@import url(//fonts.googleapis.com/css?family=Roboto+Slab&subset=latin,cyrillic);
@mixin add-shadow {
  -webkit-box-shadow: 7px 7px 7px -4px #B5B6F0;
  -moz-box-shadow: 7px 7px 7px -4px #B5B6F0;
  box-shadow: 7px 7px 7px -4px #B5B6F0;
  }

.icons-awesome {
  vertical-align: super;
  position: absolute;
  right: 5%;
  }



  .affix{
    width: 100%;
    z-index: 3;
    top: 0;
    }

.jumbotron {
  margin-bottom: 0px;
  }



/* Sticky footer styles
      -------------------------------------------------- */

      html,
      body {
        height: 100%;
        //font-family: 'Roboto Slab', serif;
        font-family: 'MainFont', serif;
        font-size: 16px;
        /* The html and body elements cannot have any padding or margin. */
      }


      /* Set the fixed height of the footer here */
      #footer {
        height: 100px;
        padding-top: 20px;
        margin-top: 100px;
      }
      #footer {
        background-color: #f5f5f5;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
#footer {
  background-color: #f5f5f5;
  }


.cart_quantity_input {
  color: #696763;
  float: left;
  font-size: 22px;
  text-align: center;
  font-family: 'Roboto',sans-serif;
  width: 50px;
  height: 50px;
  
}


.glyphicon-remove-circle {
  font-size: 24px;
  &:hover {
    color: orange;
    }
  }


.cart-image {
  width: 100px;
  height: 100px;
  }


.panel-bottom{
  //font-size: 12px;
}

.table-partial {
  margin-top: 15px;
  }


.navbar-shadow {
  @include add-shadow;
  }

.element-header-shadow {
  @include add-shadow;
  }

.image-shadow {
  @include add-shadow;
  }

.media-shadow {
  @include add-shadow;
  }

.sidebar-element-shadow {
  @include add-shadow;
  border: none;
  }

.breadcrumb {
  @include add-shadow;
  }
a {
  color: $breadcrumb;
  &:hover{color: $violet;} 
}

.panel-heading {
  //background-color: $main_color;
  }

.panel-default > .panel-color{
  background-color: $main_color;
  color: white;
  padding-left: 5px;
  text-align: left;
  }


.panel-default > .panel-color-font{
  background-color: $main_color;
  color: white;
  font-size: 22px;
  }


.navbar-nav > li:hover {
  background-color: $main_color;
  color: white;
  a:hover{color: white;}

}

.navbar-nav > li > .dropdown-menu > li > a:hover {
  color: black;
  }


  .navbar-header:hover {
    background-color: $main_color;
    .navbar-brand  {
      color: white;
      }
        }


.col-md-new-width {
  width: 18.6%;
  }

.icon-size {

  font-size: 18px;
  }


.center-block {
  float: none;
  }

.price-product {
  color: #3CAFE2;
  font-size: 25px;
  }
.marking-product {
  color: gray;
  }
.btn-buy {
  width: 188px;
  }
.border-comments {
  border: 1px solid #E4E1DD;
  background-color: antiquewhite;
  }

.border-comment {
  border: 2px solid #C4DCCF;
  background-color: beige;
  }

.comment-sizes {
  padding: 15px 0px;
  min-height: 60px;
  input, textarea {
    border-radius: 0px;
    }

  form {
    padding: 45px 0px;
    label {
      color: #CAC6C6;
      }
    }
  }

.comment {
  background-color: #ffffff;
  }
.margin-bottom {
  margin-bottom: 30px;
  }

.css-form input.ng-invalid.ng-touched {
    border: 2px solid  #FA787E;
  }

  .css-form input.ng-valid.ng-touched {
    border: 2px solid #78FA89;
  }

.css-form textarea.ng-invalid.ng-touched {
    border: 2px solid #FA787E;
  }

  .css-form textarea.ng-valid.ng-touched {
    border: 2px solid #78FA89;
  }

.without-border {
  border: none;
  }


.reviews {
  color: #CAC6C6;
  font-size: 36px;
  }


.btn-leel {
  color:  white;
  background-color: #B5B6F0;
  &:hover {
    background-color: #f2dede;
    }
  }


.product-head-table {
  background-color: $main_color;
  color: white;
  font-size: 15px;
  th {
    text-align: center;
    }
  }
.product-body-table {
  font-size: 18px;
  text-align: center;
  }
.btn-black-border {
  border: 1px solid;
  }

@media(min-width: 768px) {
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
}
}

.navbar-default .navbar-nav > .open > a {
  background-color: $main_color;
  &:hover, &:focus {
    background-color: $main_color;
    }
  }

.segoe-font {
  font-family: 'MainFont', sans-serif;
  }

.dropdown-menu > li > a:hover {
  background-color: $main_color;
  }


.similar-products {
  margin-top: 30px;
  margin-bottom: 30px;
  }

.margin-bottom {
  margin-bottom: 20px;
  }


.pdf {
  background: image-url('ico/pdf.png') center center no-repeat;
  height: 100px;
  width: 100px;
  }
.pdf:hover {background: image-url('ico/pdf_a.png') center center no-repeat  }

.xls {
  background: image-url('ico/xls.png') center center no-repeat;
  height: 100px;
  width: 100px;
  }
.xls:hover {background: image-url('ico/xls_a.png') center center no-repeat  }

.file_image {
  height: 100px;
  width: 100px;
  }


.pointer {
  cursor: pointer;
  font-size: 40px;
  }

.table-cart {
  text-align: center;
  }
.table-cart > thead > tr > th,
.table-bordered > thead > tr > td {
  text-align: center;
  }


.head-background {
  background: asset-url('head/4.jpg') no-repeat center ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }

.head-body {
  font-family: 'BoldFont', sans-serif;
  width: 65%;
  //opacity: 0.43;
  //color: #23409C;
  color: white;
  background: rgba(30,61,154,0.45);
  margin-top: 45px;
  margin-bottom: 45px;
  padding: 10px 0px;
  
}

.head-right {
  position: absolute;
  right: 5%;
  top: 70px;
  line-height: 0.75;
  //width: 30%;
  color: white;
  background: rgba(30,61,154,0.45);
  //opacity: 0.73;
  //background-color: white;
  padding: 10px 10px;
  }
.head-address {
  color: cornsilk;
  margin-top: -50px;
  //background-color: white;
  text-align: center;
  //opacity: 1;
  }

nav#nav {
  font-size: 18px;
  }

.panel-body {
  font-size: 17px;
  }
.sidebar-link > a {
  color: white;
  }

#accordion {
  width: 183px;
  }
