// Place all the styles related to the main_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.icons-awesome {
  vertical-align: super;
  }



  .affix{
    width: 100%;
    z-index: 1;
    top: 0;
    }

.jumbotron {
  margin-bottom: 0px;
  }
