// Place all the styles related to the main_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@import url(//fonts.googleapis.com/css?family=Roboto+Slab&subset=latin,cyrillic);
@mixin add-shadow {
  -webkit-box-shadow: 7px 7px 7px -4px #B5B6F0;
  -moz-box-shadow: 7px 7px 7px -4px #B5B6F0;
  box-shadow: 7px 7px 7px -4px #B5B6F0;
  }

.icons-awesome {
  vertical-align: super;
  }



  .affix{
    width: 100%;
    z-index: 3;
    top: 0;
    }

.jumbotron {
  margin-bottom: 0px;
  }



/* Sticky footer styles
      -------------------------------------------------- */

      html,
      body {
        height: 100%;
        font-family: 'Roboto Slab', serif;
        /* The html and body elements cannot have any padding or margin. */
      }


      /* Set the fixed height of the footer here */
      #footer {
        height: 100px;
        padding-top: 20px;
        margin-top: 100px;
      }
      #footer {
        background-color: #f5f5f5;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
#footer {
  background-color: #f5f5f5;
  }


.cart_quantity_input {
  color: #696763;
  float: left;
  font-size: 22px;
  text-align: center;
  font-family: 'Roboto',sans-serif;
  width: 50px;
  height: 50px;
  
}


.glyphicon-remove-circle {
  font-size: 24px;
  &:hover {
    color: orange;
    }
  }


.cart-image {
  width: 100px;
  height: 100px;
  }


.panel-bottom{
  font-size: 12px;
}

.table-partial {
  margin-top: 15px;
  }


.navbar-shadow {
  @include add-shadow;
  }

.element-header-shadow {
  @include add-shadow;
  }

.image-shadow {
  @include add-shadow;
  }

.media-shadow {
  @include add-shadow;
  }

.sidebar-element-shadow {
  @include add-shadow;
  border: none;
  }

.breadcrumb {
  @include add-shadow;
  }

.panel-heading {
  background-color: rgb(163, 214, 250);
  }

.panel-default > .panel-color{
  background-color: rgb(163, 214, 250);
  color: white;
  }


.panel-default > .panel-color-font{
  background-color: rgb(163, 214, 250);
  color: white;
  font-size: 22px;
  }


.navbar-nav > li:hover {
  background-color: rgb(163, 214, 250);
  color: white;
  a:hover{color: white;}

}

.navbar-nav > li > .dropdown-menu > li > a:hover {
  color: black;
  }


  .navbar-header:hover {
    background-color: rgb(163, 214, 250);
    .navbar-brand  {
      color: white;
      }
        }
