/ Modal
#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        #myModalLabel.modal-title
          %h4= t(:login_or_signup)
      .modal-body
        .row
          .col-sm-6
            = render partial: 'registration_form'
          .col-sm-6
            = render partial: 'signin_form'
      .modal-footer
