

- f.semantic_fields_for :variants do |x|
         
       
  = x.input :option_type, label: t(:option_type), as: :select, collection: OptionType.all, include_blank: false
  = x.input :value, label: t(:value)
